<!-- ------------This Page will Help Admin to ADD service Catagory to Database--------- -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Valorant | admin | add Catagory</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="header">
        <div class="container">
            <!-- ----------Navigation Bar------------ -->
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" width="125px">
                </div>
                <nav>
                    <ul>
                        <li><a href="/loginmodule/admin">Home</a></li>
                        <li><a href="/loginmodule/about">About</a></li>
                        <li><a href="/loginmodule/logout">Logout</a></li>
                    </ul>
                </nav>
                <img src="{% static 'images/cart.png' %}" width="30px" height="30px">
                <img src="{% static 'images/menu.png' %}" class="menu-icon">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Add Catagory</h1>
                    <form method="POST" action="add">
                        {% csrf_token %}
                        Category Name :{{ form.Category}} <br><br>
                        <button type="submit" class="btn">Add &#8594;</button>
                    </form>
                    <a href="/loginmodule/admin" class="btn">&#10094;Back </a>
                </div>

                <div class="col-2">
                    <img src="{% static 'images/admin.png' %}">
                </div>
            </div>
        </div>
    </div>
    <!-- ------------Footer------------- -->
    <div class="footer">
        <hr>
        <p class="copyright">Copyright 2021 &#169; - Valorant.inc</p>
    </div>
</body>

</html>