<!-- ------Registration Page for a Customer-------- -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>customer | Registartion | Customer</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
	<div class="header">
		<div class="container">
			<div class="navbar">
				<div class="logo">
					<img src="{% static 'images/logo.png' %}" width="125px">
				</div>
				<nav>
					<ul>
						<li><a href="/loginmodule/home">Home</a></li>
						<li><a href="/loginmodule/customer">Services</a></li>
						<li><a href="/loginmodule/about">About</a></li>
						<li><a href="/registration/signup" class="active">Sign Up</a></li>
					</ul>
				</nav>
				<img src="{% static 'images/cart.png' %}" width="30px" height="30px">
				<img src="{% static 'images/menu.png' %}" class="menu-icon">
			</div>
			<br>
			<h2 style="text-align: center;" class="title">Register Customer</h2>
			<div class="row">
				<div class="col-2">
					<div class="form-box-service">
						<div class="button-box">
							<div id="btn">
								<button type="button" class="toggle-btn"><a href="/loginmodule/login">Sign In </a></button>
							</div>
						</div>
						<form action="/registration/CustomerSignup" method="post" id="login" class="input-group">
							{% csrf_token %}
							{% csrf_token %}
							{{msg}}
							username : {{form.username}} <br><br>
							password : {{form.password}} <br><br>
							email : {{form.email}} <br><br>
							FirstName : {{form.first_name}} <br><br>
							LastName : {{form.last_name}} <br><br>
							Address : {{form.address}} <br><br>
							Mo. No. : {{form.mobile_no}} <br><br>
							City : {{form.city}} <br><br>
							<input type="checkbox" class="check-box"><span>I agree to terms & Conditions</span>
							<button type="submit" name="submit" class="submit-btn" value="submit">Register</button>
						</form>
					</div>
				</div>
				<div class="col-2">
					<img src="{% static 'images/customer.png' %}">
				</div>
			</div>
		</div>
	</div>
	<!-- ------------Footer------------- -->
	<div class="footer">
		<hr>
		<p class="copyright">Copyright &#169; 2021 - Valorant.inc</p>
	</div>
</body>

</html>