<!-- -----Login Page for All type of Users----- -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>valorant | Login </title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" width="125px">
                </div>
                <nav>
                    <ul>
                        <li><a href="/loginmodule/home">Home</a></li>
                        <li><a href="/service/services">Services</a></li>
                        <li><a href="/loginmodule/about">About</a></li>
                        <li><a href="/loginmodule/login" class="active">Log In</a></li>
                    </ul>
                </nav>
                <img src="{% static 'images/cart.png' %}" width="30px" height="30px">
                <img src="{% static 'images/menu.png' %}" class="menu-icon">
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <div class="form-box">
                        <div class="button-box">
                            <div id="btn">
                                <button type="button" class="toggle-btn"><a href="/registration/signup">Sign Up</a></button>
                            </div>
                        </div>
                        <form id="login" class="input-group" action="/loginmodule/auth/" method="post">
                            {%csrf_token%}
                            {{msg}}
                            <input type="text" name="username" class="input-field" placeholder="User Name" required>
                            <input type="password" name="password" class="input-field" placeholder="Enter password"
                                required> <br><br>
                            <select name='user_type'>
                                <option value="">Select User Type....</option>
                                <option value="cust">Customer</option>
                                <option value="sp">Service Provider</option>
                                <option value="admin">Admin</option>
                            </select><br><br><br><br>
                            <button type="submit" class="submit-btn">Log In</button>
                        </form>
                    </div>
                </div>

                <div class="col-2">
                    <img src="{% static 'images/customer.png' %}">
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p class="copyright">Copyright 2021 - Valorant.inc</p>
    </div>
</body>

</html>